extends ../layouts/default

block var
	//- Meta tags property
	- var title = "Contact Us | Hegar Sumber Kreasi"
	- var description = "We are an Indonesian company started in 1990 based in Bandung and we cover all areas of the Indonesia with a wide customer base. Our staff have experience to provide steel services to the Construction Industry"
	- var author = 'Ray Rinaldy'
	- var keywords = 'indonesia, company, indonesia, company'

block css
	//- link(href="/styles/mdb.min.css", rel="stylesheet")

block js
	script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyClyZrwo6CS1-iYKA8RThC8yPiVpBzKCzo')
	script(src='/js/maps.js')
	//- script(src='/js/lib/mdb.min.js')
		
block content
	.header.not-home
		.bg-image.other-bg
		.info.not-home
				
			h1 CONTACT US
			
	section.content
		.container-fluid
			.row
				.col-sm-6
					if enquirySubmitted
						h3.text-center Thanks for getting in touch.
					else
						h3.text-center Drop Your Message Here
						form(method='post')
							input(type='hidden', name='action', value='contact')
							.form-group(class=validationErrors.name ? 'has-error' : null)
								label Name
								input(type='text', name='name.full', value=formData['name.full'], required).form-control
							.form-group(class=validationErrors.email ? 'has-error' : null)
								label Email
								input(type='email', name='email', value=formData.email, required).form-control
							.form-group
								label Phone
								input(type='text', name='phone', value=formData.phone, placeholder='(optional)').form-control
							.form-group(class=validationErrors.enquiryType ? 'has-error' : null)
								label What are you contacting us about?
								select(name='enquiryType', required).form-control
									option(value='') (select one)
									each type in enquiryTypes
										option(value=type.value, selected=formData.enquiryType == type.value)= type.label
							.form-group(class=validationErrors.message ? 'has-error' : null)
								label Message
								textarea(name='message', placeholder='Leave us a message...' rows=5, required).form-control= formData.message
							.form-actions
								button(type='submit').btn.btn-primary.pull-right Send

						//- form
							p.h5.text-center.mb-4 Write to us
							.md-form
								i.fa.fa-user.prefix.grey-text
								input#form3.form-control(type='text')
								label(for='form3') Your name
							.md-form
								i.fa.fa-envelope.prefix.grey-text
								input#form2.form-control(type='text')
								label(for='form2') Your email
							.md-form
								i.fa.fa-tag.prefix.grey-text
								input#form32.form-control(type='text')
								label(for='form34') Subject
							.md-form
								i.fa.fa-pencil.prefix.grey-text
								textarea#form8.md-textarea(type='text', style='height: 100px')
								label(for='form8') Your message
							.text-center
								button.btn.btn-unique
									| Send 

							i.fa.fa-paper-plane-o.ml-1
				.col-sm-6
					#maps-section
						address
						//- span#active
						ul.nav.maps-nav
							li#office.active HSK Main Office
							li#showroom HSK Showroom
							li#bali HSK Branch Bali
						#google-container
						#cd-zoom-in
						#cd-zoom-out

