extends ../layouts/default

block var
	//- Meta tags property
	- var title = "Hegar Sumber Kreasi"
	- var description = "Specialist Tension Membrane &amp; Steel Works. We are an Indonesian company started in 1990 based in Bandung and we cover all areas of the Indonesia to provide steel services to the Construction Industry"
	- var author = 'Ray Rinaldy'
	- var keywords = 'indonesia, company, indonesia, company'

mixin post(post)
	.col-sm-6.col-md-4
		.project-wrapper.post(data-ks-editable=editable(user, { list: 'Post', id: post.id }))
			.project-img: img.img-responsive(src=post._.image.fit(500,250))
			.project-title: a(href='/projects/post/' + post.slug)= post.title
			.project-date Posted 
				if post.publishedDate
					| on #{post._.publishedDate.format('MMMM Do, YYYY')}
				if post.categories && post.categories.length
					|  in  
					each cat, i in post.categories
						a(href='/projects/' + cat.key)= cat.name
						if i < post.categories.length - 1
							| , 
						else
							|  
				if post.author
					|  by #{post.author.name.first}

			.project-detail!= post.content.brief
			if post.content.extended
				.project-button: a(href="/projects/post/" + post.slug target="_blank") Read more..

block content
	.header
		.bg-image
		.info.banner-header
			//- .meta: img.img-responsive(src="images/logo-big.png", alt="")
				//- a.author(href='https://twitter.com/nodws', target='_b')
				
			h1 HEGAR SUMBER KREASI
			h3 Specialist Tension Membrane &amp; Steel Works 
			h4 Impossible is Nothing, Respond is Everything
			
			.btn-navigate
				a.btn.btn-default.margin.scroll-to(data-target="#latest-project") Latest Project
				a.btn.btn-default.margin(href="/products") Products
				a.btn.btn-default(href="/contact") Contact Us

	section.content
		h2.about-us About Us
		p.pd
			| We are an Indonesian company started in 1990 based in Bandung and we cover all areas of the Indonesia with a wide customer base. <br>Our staff have experience to  provide steel services to the Construction Industry

		//- a.about-btn(href="") VIEW MORE
			span.outline-placeholder

		//- hr

		h2.latest-project#latest-project Latest Project
		p.pd
			| Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nisl turpis, porttitor et finibus id, viverra a metus. Praesent non ante sed orci posuere varius quis sit amet dui. Cras molestie magna orci, id gravida dolor molestie in. Duis sollicitudin turpis quis tortor egestas, ut ultrices nisl elementum. Vestibulum sed ipsum eget nulla laoreet cursus in ac sem. Integer a suscipit justo, quis aliquam sapien. Maecenas et tellus nibh. Vivamus tincidunt eros id commodo pellentesque.


		.project-row
			.row
				if filters.category && !data.category
					h3.text-muted Invalid Category.
				else
					if data.posts.results.length
						.blog
							each post in data.posts.results
								+post(post)
