extends ../layouts/default

block var
	//- Meta tags property
	- var title = "Projects | Hegar Sumber Kreasi"
	- var description = "We are an Indonesian company started in 1990 based in Bandung and we cover all areas of the Indonesia with a wide customer base. Our staff have experience to provide steel services to the Construction Industry"
	- var author = 'Ray Rinaldy'
	- var keywords = 'indonesia, company, indonesia, company'

block js
	script(async='', src='//platform.twitter.com/widgets.js', charset='utf-8')


block content
	.header.not-home
		.info.not-home
				
			h1= data.post.title

	section.content
		article
			p: a(href='/projects') &larr; back to projects
			hr
			if !data.post
				h2 Invalid Post.
			else
				.row
					.col-md-9
						header
							h2= data.post.title
							h5 Posted 
								if data.post.publishedDate
									| on #{data.post._.publishedDate.format('MMMM Do, YYYY')} 
								if data.post.categories && data.post.categories.length
									| in 
									each cat, cat_i in data.post.categories
										a(href='/projects/' + cat.key)= cat.name
										if cat_i < data.post.categories.length - 1
											| , 
										else
											|  
								if data.post.author
									| by #{data.post.author.name.first}
						.post-project-detail
							.location-detail= data.post.project.location
							.status= data.post.project.status
						.post
							if data.post.image.exists
								.image-wrap: img(src=data.post._.image.fit(750,450)).img-responsive
							!= data.post.content.full

					.col-md-3
						.share-article
						
						a.twitter-share-button(href='https://twitter.com/share', data-text!=data.post.title, data-hashtags="", data-show-count='false', onclick="window.open(this.href, 'width=550,height=235');return false;") Tweet

						.fb-share-button(data-href='http://www.your-domain.com/your-page.html', data-layout='button_count')

