include ../mixins/flash-messages

block var

doctype html
html

	//- HTML HEADER
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		
		if typeof data.post === 'undefined' || data.post === null
			meta(name='description', content!=description)
			meta(name='keywords', content!=keywords)
			//- meta(name='author', content!=author)
			//- Schema.org markup for Google+
			meta(itemprop='name', content!=title)
			meta(itemprop='description', content!=description)
			meta(itemprop='image', content='https://www.hegarsumberkreasi.co.id/images/logo.png')

			//- Twitter Card data
			meta(name='twitter:card', content='summary_large_image')
			meta(name='twitter:site', content='@ray_r9')
			meta(name='twitter:title', content!=title)
			meta(name='twitter:description', content!=description)
			meta(name='twitter:creator', content='@ray_r9')

			//- Twitter summary card with large image must be at least 280x150px
			meta(name='twitter:image:src', content='https://www.hegarsumberkreasi.co.id/images/logo.png')
		
			//- Open Graph data
			meta(property='og:title', content!=title)
			meta(property='og:type', content='website')
			meta(property='og:url', content='https://www.hegarsumberkreasi.co.id/')
			meta(property='og:image', content='https://www.hegarsumberkreasi.co.id/images/logo.png')
			meta(property='og:description', content!=description)
			meta(property='og:site_name', content="Hegar Sumber Kreasi")
			meta(property='fb:admins', content='1605949105')

		else
			meta(name='description', content!=data.post.meta.description || data.post.content.brief)
			-var finalKeyword = ""
			each keywords in data.post.categories
				-finalKeyword += keywords.name + ', '
			meta(name='keywords', content!= finalKeyword)
			meta(name='author', content!=data.post.author.name.first + ' ' + data.post.author.name.last)
			//- Schema.org markup for Google+
			meta(itemprop='name', content!=data.post.title)
			meta(itemprop='description', content!=data.post.meta.description || data.post.content.brief)
			meta(itemprop='image', content=data.post._.image.fit(120,120))

			//- Twitter Card data
			meta(name='twitter:card', content='summary_large_image')
			meta(name='twitter:site', content='@ray_r9')
			meta(name='twitter:title', content!=data.post.title)
			meta(name='twitter:description', content!=data.post.meta.description || data.post.content.brief)
			meta(name='twitter:creator', content!=data.post.author.name.first)

			//- Twitter summary card with large image must be at least 280x150px
			meta(name='twitter:image:src', content=data.post._.image.fit(120,120))
		
			//- Open Graph data
			meta(property='og:title', content!=data.post.title)
			meta(property='og:type', content='article')
			meta(property='og:url', content!=data.post.fullPostUrl)
			meta(property='og:image', content=data.post._.image.fit(120,120))
			meta(property='og:description', content!=detail)
			meta(property='og:site_name', content="Hegar Sumber Kreasi")
			meta(property='article:published_time', content!=data.post.publishedDate)
			meta(property='article:modified_time', content!=data.post.publishedDate)
			//- meta(property='article:section', content='Article Section')
			meta(property='article:tag', content='Article Tag')
			meta(property='fb:app_id', content='1428008247328997')
			

		meta(name='theme-color', content='#db0011')

		title= title || 'Hegar Sumber Kreasi'
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		//- Customise the stylesheet for your site by editing /public/styles/site.sass
		link(href="/styles/slick.css", rel="stylesheet")
		link(href="/styles/slick-theme.css", rel="stylesheet")
		link(href="/styles/site.css", rel="stylesheet")

		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700')

		link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet')

		link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700")



		

		//- This file provides the default styling for the KeystoneJS Content Editor
		if user && user.canAccessKeystone
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		block css

		block head

	body
		nav(role="navigation")#mainNav.navbar.navbar-default.navbar-fixed-top
			.container-fluid
				//- Brand and toggle get grouped for better mobile display
				.navbar-header
					button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse-1')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/') 
						.brand-title Hegar Sumber Kreasi
						h1(style="text-indent: -9999px;") Hegar Sumber Kreasi
						img(src="/images/logo.png", alt="Hegar Sumber Kreasi")

				//- Collect the nav links, forms, and other content for toggling
				#navbar-collapse-1.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						each link in navLinks
							li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label

		//- The Intro block appears above flash messages (used for temporary information display)
		block intro

		//- Flash messages allow you to display once-off status messages to users, e.g. form validation errors, success messages, etc.
		+flash-messages(messages)

		block content

		#partnership.text-center
			.container-fluid
				.row
					.col-sm-10.col-sm-offset-1
						//- hr
						.partnership-title In Partnership with
						.row.slider-parent
							.col-sm-4.slider-child
								img.img-responsive(src="http://via.placeholder.com/150x80", alt="")
							.col-sm-4.slider-child
								img.img-responsive(src="http://via.placeholder.com/150x80", alt="")
							.col-sm-4.slider-child
								img.img-responsive(src="http://via.placeholder.com/150x80", alt="")
							.col-sm-4.slider-child
								img.img-responsive(src="http://via.placeholder.com/150x80", alt="")
							.col-sm-4.slider-child
								img.img-responsive(src="http://via.placeholder.com/150x80", alt="")
							.col-sm-4.slider-child
								img.img-responsive(src="http://via.placeholder.com/150x80", alt="")
							
		section#postfooter
			.container-fluid
				.media-container-row
					.col-sm-3
						.media-wrap
							a(href='https://www.hegarsumberkreasi.co.id/')
								img(src='/images/logo.png', alt='Hegar Sumber Kreasi', media-simple='true')

					.col-sm-3.mbr-fonts-style.display-7.pd-top-mobile
						h5.pb-3
							| Address
						p.mbr-text
							| Jl . Paralon 1 no 1
							br
							| Cijerah, Bandung, 
							br
							| Indonesia 40214
					.col-sm-3.mbr-fonts-style.display-7
						h5.pb-3
							| Contacts
						p.mbr-text
							| Email: hegarsumberkreasi45@yahoo.com
							br
							| Phone: (+62) 22 6033815/6

					.col-sm-3.mbr-fonts-style.display-7
						h5.pb-3
							| Links
						p.mbr-text
							each link in navLinks
								li(class=(section == link.key ? 'active' : null)): a(href=link.href)= link.label
							//- a.text-primary(href='https://mobirise.com/') Website builder
							//- br
							//- a.text-primary(href='https://mobirise.com/mobirise-free-win.zip') Download for Windows
							//- br
							//- a.text-primary(href='https://mobirise.com/mobirise-free-mac.zip') Download for Mac
				.footer-lower
					.media-container-row.mbr-white
						.col-sm-6
							.social-list.align-right
								.soc-item
									a(href='https://twitter.com/mobirise', target='_blank')
										span.socicon-twitter.socicon.mbr-iconfont.mbr-iconfont-social(media-simple='true')
								.soc-item
									a(href='https://www.facebook.com/pages/Mobirise/1616226671953247', target='_blank')
										span.socicon-facebook.socicon.mbr-iconfont.mbr-iconfont-social(media-simple='true')
								.soc-item
									a(href='https://www.youtube.com/c/mobirise', target='_blank')
										span.socicon-youtube.socicon.mbr-iconfont.mbr-iconfont-social(media-simple='true')
								.soc-item
									a(href='https://instagram.com/mobirise', target='_blank')
										span.socicon-instagram.socicon.mbr-iconfont.mbr-iconfont-social(media-simple='true')
								.soc-item
									a(href='https://plus.google.com/u/0/+Mobirise', target='_blank')
										span.socicon-googleplus.socicon.mbr-iconfont.mbr-iconfont-social(media-simple='true')
								.soc-item
									a(href='https://www.behance.net/Mobirise', target='_blank')
										span.socicon-behance.socicon.mbr-iconfont.mbr-iconfont-social(media-simple='true')
		#footer 
			.container-fluid
				.row
					.col-md-10.col-md-offset-1
						.footer-text ©Copyright Hegar Sumber Kreasi 2017. All Rights Reserved.


		//- JAVASCRIPT
		//- #fb-root
		//- script.
		//- 	(function(d, s, id) {
		//- 	var js, fjs = d.getElementsByTagName(s)[0];
		//- 	if (d.getElementById(id)) return;
		//- 	js = d.createElement(s); js.id = id;
		//- 	js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1";
		//- 	fjs.parentNode.insertBefore(js, fjs);
		//- 	}(document, 'script', 'facebook-jssdk'));

		script(src='/js/jquery/jquery.js')
		script(src='/js/bootstrap/bootstrap-3.3.5.min.js')
		script(src='/js/lib/slick.min.js')
		block js
		script(src='/js/script.js')

		script.
			window.fbAsyncInit = function() {
				FB.init({
				appId      : '1428008247328997',
				xfbml      : true,
				version    : 'v2.10'
				});
				FB.AppEvents.logPageView();
			};

			(function(d, s, id){
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) {return;}
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/sdk.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		//- The KeystoneJS Content Editor provides support for ks-editable data attributes, which generate links to edit content for users who can access Keystone
		if user && user.canAccessKeystone
			script(src='/keystone/js/content/editor.js')

